Package: ubuntu-keyring-udeb
Source: ubuntu-keyring
Version: 2012.05.19
Architecture: all
Maintainer: Michael Vogt <michael.vogt@canonical.com>
Installed-Size: 20
Recommends: gpgv-udeb
Section: debian-installer
Priority: optional
Description: GnuPG keys of the Ubuntu archive
 The Ubuntu project digitally signs its Release files. This package
 contains the archive keys used for that, in a minimal form for use
 in the installer.
